{% load static %}


<!-- Contacto Start -->
<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Trabajemos Juntos</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="#contact">Contáctanos</a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">Nuestros Horarios:</p>
                <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="table-primary">
                    <tr>
                        <th>Día</th>
                        <th>Horario</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>9:00 a. m. - 7:00 p. m.</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>9:00 a. m. - 7:00 p. m.</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>9:00 a. m. - 7:00 p. m.</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>9:00 a. m. - 7:00 p. m.</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>9:00 a. m. - 7:00 p. m.</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>9:00 a. m. - 1:00 p. m.</td>
                    </tr>
                    <tr class="table-secondary">
                        <td>Domingo</td>
                        <td>Cerrado</td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <hr class="w-100">
                <p class="mb-2">Llámanos:</p>
                <h3 class="fw-bold">(801) 477-8742 </h3>
                <hr class="w-100">
                <p class="mb-2">Envíanos un correo:</p>
                <h3 class="fw-bold">
                <a href="mailto:subsidyhomeasistance@outlook.com">subsidyhomeasistance@outlook.com</a> |
                <a href="mailto:d12_devil@live.com">d12_devil@live.com</a>
                </h3>
                <hr class="w-100">
                <p class="mb-2">Síguenos:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">Contactanos para obtener mayor informacion sobre nuestros servicios.</p>
                <form method="post" action="{% url 'contacto' %}">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Tu Nombre">
                                <label for="name">Tu Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Tu Correo">
                                <label for="email">Tu Correo</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Asunto">
                                <label for="subject">Asunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Escribe tu mensaje aquí" id="message" style="height: 100px"></textarea>
                                <label for="message">Mensaje</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contacto End -->
