{% load static %}

<!-- Expertise Start -->
<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-5">Nuestra Experiencia</h1>
                <p class="mb-4">
                    Contamos con una trayectoria sólida apoyando a comunidades hispanas en la gestión de asistencia energética y servicios básicos, ayudando a cientos de familias a acceder a beneficios estatales y mejorar su calidad de vida.
                </p>
                <h3 class="mb-4">Nuestras Fortalezas</h3>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Asesoría Personalizada</h6>
                                <h6 class="font-weight-bold">100%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" style="width:100%"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Tramitación de Beneficios</h6>
                                <h6 class="font-weight-bold">95%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width:95%"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Resolución de Crisis Energética</h6>
                                <h6 class="font-weight-bold">98%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width:98%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Gestión de Pagos con Proveedores</h6>
                                <h6 class="font-weight-bold">90%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width:90%"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Orientación Comunitaria</h6>
                                <h6 class="font-weight-bold">100%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" style="width:100%"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-bold">Apoyo Documental</h6>
                                <h6 class="font-weight-bold">95%</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width:95%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experiencia</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Valores</button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Gestión de Programas Estatales</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">+5 años</p>
                                <h6 class="mb-0">Asistencia energética y beneficios sociales</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Resolución de Crisis Energética</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">+3 años</p>
                                <h6 class="mb-0">Evitar desconexiones de servicios</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Asesoría Comunitaria</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">+8 años</p>
                                <h6 class="mb-0">Apoyo a familias hispanas</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Convenios con Proveedores</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">+4 años</p>
                                <h6 class="mb-0">Pagos y coordinación directa</h6>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row gy-5 gx-4">
                            <div class="col-sm-6">
                                <h5>Compromiso Social</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">Firme</p>
                                <h6 class="mb-0">Apoyar familias vulnerables</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Solidaridad</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">Constante</p>
                                <h6 class="mb-0">Orientación sin barreras</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Empatía</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">Prioridad</p>
                                <h6 class="mb-0">Escuchar y entender necesidades</h6>
                            </div>
                            <div class="col-sm-6">
                                <h5>Excelencia</h5>
                                <hr class="text-primary my-2">
                                <p class="text-primary mb-1">Constante</p>
                                <h6 class="mb-0">Calidad en la atención</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Expertise End -->